---
layout: default
hills: true
---

.heading
  %img.mascot{src: "/assets/img/mascot.png"}
  %h1 Coding Education Beyond the University

  %p
    We make great students into amazing professionals.

.clear

#upcoming-events
  %h2 Upcoming Events
  .event.box
    .tl
    .tr
    .bl
    .br

    .city.sydney
      Sydney

    .details
      .title
        %a{href: "/sydney/levelup-exp-dec-2013/"}
          LevelUp
          %strong EXP 2

      .when
        %strong 7th December, 2013
        at
        %a{href: "http://goo.gl/maps/SUIi", target: "_blank"} ThoughtWorks Sydney

    .about
      %p
        University students graduate every year, and enter the workforce often
        unprepared for what they encounter. On 7th December, 2013 we hope to
        change that. We are bringing together computer science and information
        technology students with professional technical visionaries and
        engineers to explore the future together.

    .clear

  .event.box
    .tl
    .tr
    .bl
    .br

    .city.melbourne
      Melbourne

    .details
      .title
        %a{href: "/melbourne/levelup-nov-2013/"}
          LevelUp Melbourne

      .when
        %strong 6th November, 2013
        to
        %strong 4th December, 2013
        at
        %a{href: "http://goo.gl/maps/HcxWi", target: "_blank"} ThoughtWorks Melbourne Office

    .about
      %p
        LevelUp Melbourne is five weeks of intense learning open to all
        University students interested in technology. From
        %em 6pm to 9pm every Wednesday,
        we'll teach you everything from from how excellent software is
        developed to how software projects are managed.

      %p
        Our instructors include published authors, prominent technologists,
        and software developers who've written code for some of the biggest
        companies in Australia.

    .clear


{% ground %}
#past-events.row
  - pastevents = [{name: "LevelUp EXP",
        location: "ThoughtWorks Brisbane",
        location_url: "http://goo.gl/maps/Uwcvv",
        city: "Brisbane",
        date: "26 October 2013",
        description: "University students graduate every year, and enter the workforce often unprepared for what they encounter. On 26th October, 2013 we hope to change that. We are bringing together computer science and information technology students with professional technical visionaries and engineers to explore the future together.",
        photobook: "https://www.facebook.com/media/set/?set=a.341968892598851.1073741832.334505716678502&type=3",
        photos: [ { img: "/assets/img/events/lvlxp-1.jpg" },
            { img: "/assets/img/events/lvlxp-2.jpg" },
            { img: "/assets/img/events/lvlxp-3.jpg" },
            { img: "/assets/img/events/lvlxp-4.jpg" },
        ],
        testimonial: [ { text: "Good to know what's actually happening outside of Uni"},
            { text: "I wish I could do both tracks"},
            { text: "Thank you ThoughtWorks for taking time on a weekend of conducting an insightful and very helpful session"},
            { text: "Very informative"},
            { text: "Good high level understanding of concepts"},
            { text: "Awesome session"},
            { text: "Inspiring"},
        ]},
      {name: "LevelUp 2",
        location: "ThoughtWorks Sydney",
        location_url: "http://goo.gl/maps/SUIi",
        city: "Sydney",
        date: "20th August 2013 through 22nd October 2013",
        description: "Over 9 weeks, you'll deliver a project from start to finish, guided by highly experienced professionals. We'll teach you everything you need to know along the way, from planning and design to writing and testing your own code. At the end you won't just walk away with working software for your portfolio - you'll have knowledge, skills and experience to hit the ground running in the workplace."},
      {name: "LevelUp EXP",
        location: "ThoughtWorks Melbourne",
        location_url: "http://goo.gl/maps/HcxWi",
        city: "Melbourne",
        date: "14 September 2013",
        description: "University students graduate every year, and enter the workforce often unprepared for what they encounter. On 14th September, 2013 we hope to change that. We are bringing together computer science and information technology students with professional technical visionaries and engineers to explore the future together.",
        photobook: "https://www.facebook.com/media/set/?set=a.341968892598851.1073741832.334505716678502&type=3",
        photos: [ { img: "/assets/img/events/lvlxp-1.jpg" },
            { img: "/assets/img/events/lvlxp-2.jpg" },
            { img: "/assets/img/events/lvlxp-3.jpg" },
            { img: "/assets/img/events/lvlxp-4.jpg" },
        ],
        testimonial: [ { text: "Good to know what's actually happening outside of Uni"},
            { text: "I wish I could do both tracks"},
            { text: "Thank you ThoughtWorks for taking time on a weekend of conducting an insightful and very helpful session"},
            { text: "Very informative"},
            { text: "Good high level understanding of concepts"},
            { text: "Awesome session"},
            { text: "Inspiring"},
        ]},
      {name: "LevelUp EXP",
        location: "ThoughtWorks Sydney",
        location_url: "http://goo.gl/maps/SUIi",
        city: "Sydney",
        date: "22 June 2013",
        description: "University students graduate every year, and enter the workforce often unprepared for what they encounter. On 22nd June, 2013 we hope to change that. We are bringing together computer science and information technology students with professional technical visionaries and engineers to explore the future together.",
        photobook: "https://www.facebook.com/media/set/?set=a.341968892598851.1073741832.334505716678502&type=3",
        photos: [ { img: "/assets/img/events/lvlxp-1.jpg" },
            { img: "/assets/img/events/lvlxp-2.jpg" },
            { img: "/assets/img/events/lvlxp-3.jpg" },
            { img: "/assets/img/events/lvlxp-4.jpg" },
        ],
        testimonial: [ { text: "Good to know what's actually happening outside of Uni"},
            { text: "I wish I could do both tracks"},
            { text: "Thank you ThoughtWorks for taking time on a weekend of conducting an insightful and very helpful session"},
            { text: "Very informative"},
            { text: "Good high level understanding of concepts"},
            { text: "Awesome session"},
            { text: "Inspiring"},
        ]},
      { name: "LevelUp",
          location: "ThoughtWorks Sydney",
          location_url: "http://goo.gl/maps/SUIi",
          date: "12 March 2013 through 17 April 2013",
          city: "Sydney",
          description: "The LevelUp program took those interested in going above and beyond regular textbook learning through a course of six sessions over six weeks, designed to equip participants with the skills and knowledge needed to bridge the gap between university and working life.",
          photobook: "https://www.facebook.com/media/set/?set=a.334512056677868.1073741828.334505716678502&type=1",
          photos: [ { img: "/assets/img/events/lvlone-1.jpg" },
              { img: "/assets/img/events/lvlone-2.jpg" },
              { img: "/assets/img/events/lvlone-3.jpg" },
              { img: "/assets/img/events/lvlone-4.jpg" },
          ],
          testimonial: [ { text: "Great coverage of a broad topic. I didn't know what to expect at first & was greatly impressed with ThoughtWorker's ability to impart knowledge"},
              { text: "Well fed; chillaxed nature"},
              { text: "Hands on - very practical"},
              { text: "Love how the program is relaxed and not too corporate or formal"},
              { text: "Thanks for the experience"},
              { text: "Every ThoughtWorker's contribution for different sessions"},
              { text: "Like the tasks! The playdough game, the UFO game etc - they were fun and helped for understanding"} ]},
      ]

  %h2 Past events
  - pastevents.each do |event|
    .event.box
      .tl
      .tr
      .bl
      .br

      .city{class: event[:city].downcase}= event[:city]

      .details
        .title= event[:name]
        .when
          %strong= event[:date]
          at
          %a{href: event[:location_url], target: "_blank"}= event[:location]

      .about
        %p= event[:description]

      .clear

{% endground %}
