---
layout: default
hills: true
---

.heading
  %img.mascot.hidden-xs{src: "/assets/img/mascot.png"}
  %h1 Coding Education Beyond the University

  %p
    We make great students into amazing professionals.

.clear

#upcoming-events
  %h2 Upcoming Events
  .event.box.row
    .tl
    .tr
    .bl
    .br

    .city.jozi
      Johannesburg

    .details.col-sm-4
      .title
        %a{href: "/johannesburg/levelup-exp-jan-2014/"}
          LevelUp EXP

      .when
        %strong 11th January, 2014
        at
        %a{href: "http://goo.gl/llt22", target: "_blank"} ThoughtWorks Braamfontein

    .about.col-sm-8
      %p
        University students graduate every year, and enter the workforce often
        unprepared or unsure of what they'll encounter in the workplace. On
        11th December, 2014 ThoughtWorks is changing that. We are bringing
        together computer science and information technology students with
        professional technical visionaries and engineers to explore the future
        together.

      %p
        This one day mini-conference will cover technical topics, agile
        techniques, and how to bridge the gap from IT graduate, to IT
        professional.
    .clear

{% ground %}
#past-events
  - pastevents = [{name: "LevelUp Bonus Level",
        location: "ThoughtWorks Sydney",
        city: "Sydney",
        date: "12th December, 2013",
        description: "Wanna hear from 2 international experts in Sydney for the YOW conference? This bonus level will see Jim Webber talking about graph databases and Jeff Patton talking about lean converpt. Register for this one and get some special power ups before Christmas!"},
      {name: "LevelUp EXP 2",
        location: "ThoughtWorks Sydney",
        city: "Sydney",
        date: "7th December, 2013",
        description: "University students graduate every year, and enter the workforce often unprepared for what they encounter. On 7th December, 2013 that changes. We are bringing together computer science and information technology students with professional technical visionaries and engineers to explore the future together."},
      {name: "LevelUp Melbourne",
        location: "ThoughtWorks Melbourne",
        location_url: "http://goo.gl/maps/HcxWi",
        city: "Melbourne",
        date: "6th November, 2013 to 4th December, 2013",
        description: "Five weeks of intense learning, open to all University students interested in technology."},
      {name: "LevelUp EXP",
        location: "ThoughtWorks Brisbane",
        location_url: "http://goo.gl/maps/Uwcvv",
        city: "Brisbane",
        date: "26 October 2013",
        description: "University students graduate every year, and enter the workforce often unprepared for what they encounter. On 26th October, 2013 we hope to change that. We are bringing together computer science and information technology students with professional technical visionaries and engineers to explore the future together.",
        photobook: "https://www.facebook.com/media/set/?set=a.341968892598851.1073741832.334505716678502&type=3",
        photos: [ { img: "/assets/img/events/lvlxp-1.jpg" },
            { img: "/assets/img/events/lvlxp-2.jpg" },
            { img: "/assets/img/events/lvlxp-3.jpg" },
            { img: "/assets/img/events/lvlxp-4.jpg" },
        ],
        testimonial: [ { text: "Good to know what's actually happening outside of Uni"},
            { text: "I wish I could do both tracks"},
            { text: "Thank you ThoughtWorks for taking time on a weekend of conducting an insightful and very helpful session"},
            { text: "Very informative"},
            { text: "Good high level understanding of concepts"},
            { text: "Awesome session"},
            { text: "Inspiring"},
        ]},
      {name: "LevelUp 2",
        location: "ThoughtWorks Sydney",
        location_url: "http://goo.gl/maps/SUIi",
        city: "Sydney",
        date: "20th August 2013 through 22nd October 2013",
        description: "Over 9 weeks, you'll deliver a project from start to finish, guided by highly experienced professionals. We'll teach you everything you need to know along the way, from planning and design to writing and testing your own code. At the end you won't just walk away with working software for your portfolio - you'll have knowledge, skills and experience to hit the ground running in the workplace."},
      {name: "LevelUp EXP",
        location: "ThoughtWorks Melbourne",
        location_url: "http://goo.gl/maps/HcxWi",
        city: "Melbourne",
        date: "14 September 2013",
        description: "University students graduate every year, and enter the workforce often unprepared for what they encounter. On 14th September, 2013 we hope to change that. We are bringing together computer science and information technology students with professional technical visionaries and engineers to explore the future together.",
        photobook: "https://www.facebook.com/media/set/?set=a.341968892598851.1073741832.334505716678502&type=3",
        photos: [ { img: "/assets/img/events/lvlxp-1.jpg" },
            { img: "/assets/img/events/lvlxp-2.jpg" },
            { img: "/assets/img/events/lvlxp-3.jpg" },
            { img: "/assets/img/events/lvlxp-4.jpg" },
        ],
        testimonial: [ { text: "Good to know what's actually happening outside of Uni"},
            { text: "I wish I could do both tracks"},
            { text: "Thank you ThoughtWorks for taking time on a weekend of conducting an insightful and very helpful session"},
            { text: "Very informative"},
            { text: "Good high level understanding of concepts"},
            { text: "Awesome session"},
            { text: "Inspiring"},
        ]},
      {name: "LevelUp EXP",
        location: "ThoughtWorks Sydney",
        location_url: "http://goo.gl/maps/SUIi",
        city: "Sydney",
        date: "22 June 2013",
        description: "University students graduate every year, and enter the workforce often unprepared for what they encounter. On 22nd June, 2013 we hope to change that. We are bringing together computer science and information technology students with professional technical visionaries and engineers to explore the future together.",
        photobook: "https://www.facebook.com/media/set/?set=a.341968892598851.1073741832.334505716678502&type=3",
        photos: [ { img: "/assets/img/events/lvlxp-1.jpg" },
            { img: "/assets/img/events/lvlxp-2.jpg" },
            { img: "/assets/img/events/lvlxp-3.jpg" },
            { img: "/assets/img/events/lvlxp-4.jpg" },
        ],
        testimonial: [ { text: "Good to know what's actually happening outside of Uni"},
            { text: "I wish I could do both tracks"},
            { text: "Thank you ThoughtWorks for taking time on a weekend of conducting an insightful and very helpful session"},
            { text: "Very informative"},
            { text: "Good high level understanding of concepts"},
            { text: "Awesome session"},
            { text: "Inspiring"},
        ]},
      { name: "LevelUp",
          location: "ThoughtWorks Sydney",
          location_url: "http://goo.gl/maps/SUIi",
          date: "12 March 2013 through 17 April 2013",
          city: "Sydney",
          description: "The LevelUp program took those interested in going above and beyond regular textbook learning through a course of six sessions over six weeks, designed to equip participants with the skills and knowledge needed to bridge the gap between university and working life.",
          photobook: "https://www.facebook.com/media/set/?set=a.334512056677868.1073741828.334505716678502&type=1",
          photos: [ { img: "/assets/img/events/lvlone-1.jpg" },
              { img: "/assets/img/events/lvlone-2.jpg" },
              { img: "/assets/img/events/lvlone-3.jpg" },
              { img: "/assets/img/events/lvlone-4.jpg" },
          ],
          testimonial: [ { text: "Great coverage of a broad topic. I didn't know what to expect at first & was greatly impressed with ThoughtWorker's ability to impart knowledge"},
              { text: "Well fed; chillaxed nature"},
              { text: "Hands on - very practical"},
              { text: "Love how the program is relaxed and not too corporate or formal"},
              { text: "Thanks for the experience"},
              { text: "Every ThoughtWorker's contribution for different sessions"},
              { text: "Like the tasks! The playdough game, the UFO game etc - they were fun and helped for understanding"} ]},
      ]

  %h2 Past events
  - pastevents.each do |event|
    .event.box.row
      .tl
      .tr
      .bl
      .br

      .city{class: event[:city].downcase}= event[:city]

      .details.col-sm-4
        .title= event[:name]
        .when
          %strong= event[:date]
          at
          %a{href: event[:location_url], target: "_blank"}= event[:location]

      .about.col-sm-8
        %p= event[:description]

      .clear

{% endground %}
