---
layout: registration
banner: false
hills: true
---


#sky
  .sky
  .container
    %header.header.row
      .left
        %a{href: "/"}
          %img{src: "/assets/img/page-structure/logo.png", title: "LevelUp: ThoughtWorks"}

    .event.box.red.brisbane
      .tl
      .tr

      .city Brisbane
      .row
        .span3
          .title
            LevelUp EXP

          .when
            %strong 26th October, 2013
            at
            %a{href: "http://goo.gl/maps/Uwcvv", target: "_blank"} ThoughtWorks Brisbane

        .span7
          %p
            %a{href: "http://www.thoughtworks.com/"}ThoughtWorks
            is organising unique one-day conference called LevelUp EXP that is open to IT undergraduates, aiming at providing insight into the IT industry and software development practices that are not necessary taught at Uni.
          %p
            %strong LevelUp EXP
            aims to prepare university students interested in technology to enter the workforce. It brings together students with professional technical visionaries and engineers on the forefront of technology to discuss techniques and trends that help get you prepared to enter the workforce.
          %p Your guides on the journey will be the software professionals with unique and rich experiences &mdash; delivering software on weekdays &mdash; teaching you on weekend.
          %br
          %p The conference is free to students, however places are limited.
          %p
            Check out
            %a{href: "https://www.facebook.com/ThoughtworksLevelUp"} our past event
            !

      .clear

      %form#form{action: "http://thoughtworks.us7.list-manage.com/subscribe/post?u=e01f405fabad2dd5617122558&amp;id=8039da61b0", method: "post", name: "mc-embedded-subscribe-form", target: "_blank", novalidate: ""}

        - inputs = [{:text => "First Name", :name => "FNAME"},
                    {:text => "Last Name", :name => "LNAME"},
                    {:text => "Email Address", :name => "EMAIL"}]

        - inputs.each do |field|
          .row-fluid
            .span5.right-align
              %label{for: field[:name]}= field[:text]

            .span5
              %input.span10{id: field[:name], name: field[:name], type: "text"}

        .register
          %button.bitbtn.btn-primary{type: "submit"}
            Register

  .skyline
    .story-bridge


  #water.container
    %h2 Agenda

    - agenda = [{:time => "9:00AM", :title => "Breakfast & Registration"},
                {:time => "10:00AM", :name => "Ben Melbourne", :position => 'ThoughtWorks Brisbane', :title => "Opening Keynote: Design Thinking", :description => "What is Design Thinking? Why is it important to you and your project."},
                {:time => "10:50AM", :name => "James Ottaway", :position => 'ThoughtWorks Brisbane', :title => "Functional Programming for Fun and Profit", :description => "Rather than continually instructing a computer on how to get the job done, wouldn't it be so much easier if we simply had to explain what we wanted, and have the computer fill in the blanks for us? Functional programming gives us this ability through its focus and priority on functions, rather than variables and classes, which allows us to reduce coupling and complexity, giving us a more repeatable program. In this talk I'll explain my journey to understand, appreciate and leverage the power given to me by functional programming."},
                {:time => "11:40AM", :title => "Lunch"},
                {:time => "12:30PM", :name => "Hari Baran", :position => 'ThoughtWorks Sydney', :title => "Testing Fundamentals", :description => "Quality software is about more than just great code. From unit testing to user testing, we'll teach you the value of a test first philosophy, and show you how to put it into practice. Not a tester? Yes you are! Ensuring quality is everyone's responsibility."},
                {:time => "1:20PM", :name => "Cathie Hagen and Jiangmei Kang", :position => 'ThoughtWorks Brisbane and ThoughtWorks China', :title => "Business Analysis", :description => "From Wikipedia - A Business Analyst (BA) is someone who analyzes the existing or ideal organization and design of systems, including businesses, departments, and organizations. BAs also assess business models and their integration with technology."},
                {:time => "2:10PM", :name => "Pete Chemsripong", :position => 'ThoughtWorks Sydney', :title => "User Testing", :description => "The success of whatever you do hinge on the value it generate - which is directly proportion to how many people use it. Don't make things no-one wants to use - it's that simple. How? Let us show you."},
                {:time => "3:00PM", :name => "Jean Robert D'amore", :position => 'ThoughtWorks Brisbane', :title => "Helping you get your first job", :description => "The path from seek to hire can be a roller-coaster, particularly in IT where competition can be fierce. On the other hand finding your first job should be a memorable and enjoyable experience. This talk will provide tips to marry the two, and a recipe to a smooth journey through the job hunting adventure."},
                {:time => "3:40PM", :name => "Chad Renando", :position => "Shape Consulting", :title => "Closing Keynote: Who are you, where are you going, and how will you get there?", :description => "We know the <strong>what</strong>: incredible opportunities in the ever-changing world of IT. Now let's have a conversation about making the most of <strong>who</strong> you are, being clear about <strong>where</strong> you are going, and being intentional about <strong>how</strong> you can get there.  This will lead you to a solid commitment towards <strong>why</strong> you decide to do what you do."},
                {:time => "4:30PM", :title => "Wrap up! To the Pub!"}]
    - agenda.each do |talk|
      .talk.row
        .time.span1
          %span= talk[:time]
        .span10
          %h3= talk[:title]
          %p= talk[:description]
          %h5 #{talk[:name]}
          %h6 #{talk[:position]}


