---
layout: registration
banner: false
hills: true
---


#sky
  .sky
  .container
    %header.header.row
      .left
        %a{href: "/"}
          %img{src: "/assets/img/page-structure/logo.png", title: "LevelUp: ThoughtWorks"}

    .event.box.red.brisbane
      .tl
      .tr

      .city Brisbane
      .row
        .span3
          .title
            LevelUp EXP

          .when
            %strong 26th October, 2013
            at
            %a{href: "http://goo.gl/maps/Uwcvv", target: "_blank"} ThoughtWorks Brisbane

        .span7
          %p
            %strong LevelUp EXP
            is a unique one day conference to prepare university students
            interested in technology to enter the workforce. It brings together
            students with professional technical visionaries and engineers on the
            forefront of technology to discuss techniques and trends that help get
            you prepared to enter the workforce.

          %p
            Your guides on the journey will be the best software professionals around
            &mdash; delivering software by day &mdash; teaching you by night.


      .clear

      %form#form{action: "http://thoughtworks.us7.list-manage.com/subscribe/post?u=e01f405fabad2dd5617122558&amp;id=8039da61b0", method: "post", name: "mc-embedded-subscribe-form", target: "_blank", novalidate: ""}

        - inputs = [{:text => "First Name", :name => "FNAME"},
                    {:text => "Last Name", :name => "LNAME"},
                    {:text => "Email Address", :name => "EMAIL"}]

        - inputs.each do |field|
          .row-fluid
            .span5.right-align
              %label{for: field[:name]}= field[:text]

            .span5
              %input.span10{id: field[:name], name: field[:name], type: "text"}

        .register
          %button.bitbtn.btn-primary{type: "submit"}
            Register

  .skyline
    .story-bridge


  #water.container
    %h2 Agenda

    - agenda = [{:time => "9:00AM", :title => "Breakfast & Registration"},
                {:time => "10:00AM", :name => "Ben Melbourne", :position => 'ThoughtWorks Brisbane', :title => "Opening Keynote: Design Thinking", :description => "What is Design Thinking? Why is it important to you and your project."},
                {:time => "10:50AM", :name => "James Ottaway", :position => 'ThoughtWorks Brisbane', :title => "Functional Programming", :description => "From Wikipedia - Functional programming is a programming paradigm, a style of building the structure and elements of computer programs, that treats computation as the evaluation of mathematical functions and avoids state and mutable data. Functional programming emphasizes functions that produce results that depend only on their inputs and not on the program state - i.e. pure mathematical functions."},
                {:time => "11:40AM", :title => "Lunch"},
                {:time => "12:30PM", :name => "TBA", :title => "Testing Fundamentals", :description => "Quality software is about more than just great code. From unit testing to user testing, we'll teach you the value of a test first philosophy, and show you how to put it into practice. Not a tester? Yes you are! Ensuring quality is everyone's responsibility."},
                {:time => "1:20PM", :name => "Cathie Hagen and Jiangmei Kang", :position => 'ThoughtWorks Brisbane and ThoughtWorks China', :title => "Business Analysis", :description => "From Wikipedia - A Business Analyst (BA) is someone who analyzes the existing or ideal organization and design of systems, including businesses, departments, and organizations. BAs also assess business models and their integration with technology."},
                {:time => "2:10PM", :name => "Jean Robert D'amore", :position => 'ThoughtWorks Brisbane', :title => "Helping you get your first job", :description => "TBA"},
                {:time => "3:00PM", :name => "Pete Chemsripong", :position => 'ThoughtWorks Sydney', :title => "User Testing", :description => "The success of whatever you do hinge on the value it generate - which is directly proportion to how many people use it. Don't make things no-one wants to use - it's that simple. How? Let us show you."},
                {:time => "3:40PM", :name => "Chad Renando", :position => "Shape Consulting", :title => "Closing Keynote: On Leadership", :description => "From Wikipedia - Leadership has been described as 'a process of social influence in which one person can enlist the aid and support of others in the accomplishment of a common task', although there are alternative definitions of leadership. For example, some understand a leader simply as somebody whom people follow, or as somebody who guides or directs others, while others define leadership as 'organizing a group of people to achieve a common goal'"},
                {:time => "4:30PM", :title => "Wrap up! To the Pub!"}]
    - agenda.each do |talk|
      .talk.row
        .time.span1
          %span= talk[:time]
        .span10
          %h3= talk[:title]
          %p= talk[:description]
          %h5 #{talk[:name]}
          %h6 #{talk[:position]}


