---
layout: default
---

{% ground %}
#coaches-list
  - coaches_left = [ { name: "Gareth Sutton",
      title: "Sales Jedi",
      image: "/assets/img/coaches/GarethSutton.jpg",
      blurb: "<p>Consultative sales rep, looking to help customers find business and technical improvement. </p> <p>ThoughtWorks are the leaders in Agile, trying to change the way technology is delivered. Our consulting services range from developing awesome software through to helping you change the way you innovate. </p>",
    },
    { name: "Angus Irvine",
      title: "Senior Consultant at ThoughtWorks",
      image: "/assets/img/coaches/AngusIrvine.jpg",
      blurb: "<p>Agile Business Analyst with considerable experience in web projects across both the commercial product and business application spaces.</p> <p>Specialties:Requirements elicitation, user story creation, workshop facilitation, stakeholder management, iteration management, agile delivery.</p>",
    },
    { name: "Sam Massey",
      title: "Grad Recruiter / Actor / Writer / Thought wanderer and keeper of the peace",
      image: "/assets/img/coaches/Sammassey.jpg",
      blurb: "<p>Speaking at this year's AAGE annual conference about why we became no.1 grad employer in Australia...I'm still figuring it out!</p> <p>Grew up in a teen weeny village in England. Trained as an actor, got paid for 10 years to speak Shakespeare and entertain people, became a writer, joined ThoughtWorks London part-time in 2010, loved it, became grad recruiter in Oz in 2013, loved it even more. Still write/film stuff in my spare time. Lover of football (the European kind). Photographer and ocean swimmer. </p>",
    },
    { name: "James Gregory",
      title: "Senior Consultant",
      image: "/assets/img/coaches/JamesGregory.jpg",
      blurb: "<p>Life long computer nerd. Completely unqualified to be working in this industry. Entirely self taught. Never stopped learning.</p> <p>A brief history of James:Built a computer at 10 (notorious child for constantly stealing parts out of any computer I could get my hands on). Few years later, taught myself to write HTML and build static websites, sold a couple of those to local businesses.</p> <p>Flunked out of school at 16 for spending too much time coding and building levels for computer games. Took a job at a supermarket, taught myself a proper programming language sat in my car on lunch breaks. Quit. First developer job at 19. Whirlwind. Ended up in Australia.</p>",
    },
    { name: "Andrew Jones",
      title: "Software Developer",
      image: "/assets/img/coaches/andrewjones.jpg",
      blurb: "<p>A self-taught developer, Andrew is comfortable working with infrastructure, on the front-end or anywhere in-between. Since joining ThoughtWorks, Andrew has worked with non-profits and startups. Andrew is a passionate activist and tinkerer of games and robots.</p>",
    }]

  - coaches_right = [ { name: "Darren Smith",
      title: "Architect, Developer, and Principal Consultant",
      image: "/assets/img/coaches/darren.jpg",
      blurb: "<p>Over 18 years experience in the IT industry, across Australia, China, USA and Canada. As a principal consultant with ThoughtWorks Australia, Darren possesses a unique ability to balance strategic thinking with delivering solutions that meet immediate needs.</p> <p>Specialties: Consulting, agile software development, and enterprise architecture.</p>",
    },
    { name: "Sam Newman",
      title: "Principal Consultant",
      image: "/assets/img/coaches/SamNewman.jpg",
      blurb: "<p>Sam has worked with a variety of companies in both delivery and enablement roles, but tends to prefer the more complex technical challenges over coaching roles. He has written articles for O'Reilly, presented at conferences, and sporadically commits to open source projects. Principally a Java developer, he also spends lots of time with Scala, Python, Javascript.</p>",
    },
    { name: "Cassandra Hill",
      title: "Test Ninja",
      image: "/assets/img/coaches/casshill.jpg",
      blurb: "<p>iOS & Mobile testing ninja - Close friends with Frank and even an acquaintance with Windows 8 apps. </p>",
    },
    { name: "Evgeny Dudin",
      title: "Maniac Developer ",
      image: "/assets/img/coaches/EvgenyDudin.jpg",
      blurb: "<p>After studying physics and cryptology in a country far far away had almost 7 years of experience in software development: from mobile apps and games,  to Linux kernel, websites, and enterprise systems.</p> <p>Obsessed with making software better. Allergic to spaghetti code.</p>",
    },
    { name: "Inny So",
      title: "Developer",
      image: "/assets/img/coaches/InnySo.jpg",
      blurb: "<p>Automating everything in the hope of making work more fun for everyone.</p> <p>Specialties: CI system, infrastructure automation, build and deployment automation</p>",
    },
    { name: "Keith Wale",
      title: "Mr",
      image: "/assets/img/coaches/KeithWale.jpg",
      blurb: "<p>General stuff person. From testing to story elaboration to automated testing. Liker of mobile delivery and automated deployment. Disliker of detailed requirements documents and enterprise architects</p>",
    },
    { name: "Pete Chemsripong",
      title: "Professional Doodler",
      image: "/assets/img/coaches/PeteChemsripong.jpg",
      blurb: "<p>Pete has over 9 years of experience in the field of design - Freelance illustrator, Children art teacher, Comic artist, Sold-out corporate graphic designer, Web designer, Team lead, you name it. His current role as an Experience Designer get him close and personal with his passion - the intersection of art (being human) and technology. &quot;The Holy Grail&quot;, he said.</p> <p>Pete's art work was featured at the Art Gallery of NSW. His comic book can probably still be found from Dark Horse, despite him trying to erase everything about that project.</p> <p>And yes, he also code.</p>",
    }]
  .row
    %h1 LevelUp Coaches &amp; Speakers
    %h2
      Total Work Experience
      %span 193 years

  .row
    #coaches-left.span6
      - coaches_left.each do |coach|
        .profile.box
          .top
          .mid
            .photo
              %img{src: coach[:image]}
            %h3= coach[:name]
            %h4= coach[:title]
            %p= coach[:blurb]
          .bot

    #coaches-right.span6
      - coaches_right.each do |coach|
        .profile.box
          .top
          .mid
            .photo
              %img{src: coach[:image]}
            %h3= coach[:name]
            %h4= coach[:title]
            %p= coach[:blurb]
          .bot
{% endground %}
